<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body>
<div class="form-container">
	{% block body %}
	{% if session['logged_in'] %}
	<p>Tu ja tens conta iniciada!!!</p>
	{% else %}
	<form action="/login" method="POST" id="form">
		<h3>Login</h3>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul class="flashes">
			{% for message in messages %}
			<div class="message_flash">{{ message }}</div>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		<div class="container">
			<span class="icon">
				<i class="fas fa-user"></i>
			</span>
			<input type="text" placeholder="username" name="username"/>
		</div>
		<div class="container">
			<span class="icon">
				<i class="fas fa-lock"></i>
			</span>
			<input type="password" placeholder="password" name="password"/>
		</div>
		<input type="submit" name="loginbutton" value="login"/>
		<input type="submit" name="registerbutton" value="register"/>

	</form>
	{% endif %}
	{% endblock %}
</div>
</body>
</html>

